.App {
  text-align: center;
}

#root {
  background-color: black;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}